/* _basket.scss */

.basket{
	overflow: hidden;
	width: 100%;
	background: $black;
	color: $white;
	transition: max-height 2s, height .5s linear;
}

.basket-closed{ height: 0; }

.basket-title{
	padding: .75em;
	border-bottom: 2px solid transparentize($white, .9);
	font-size: 1.25em;
	font-weight: 700;
}

.basket .item-list{	font-size: .85em; }

.basket .item-list:hover{ background: transparentize($white, .9); }

.basket .details-title{
	padding: .25em 0;
	font-weight: 600;
}
