/* _header.scss */

header{
	z-index: 9999;
	opacity: .95;
	position: fixed;
	top: 0;
	width: 100%;
	background: lighten($white, 1%);
	padding: 1em 0; 
	overflow: hidden;
	border-bottom: $lineThickness solid $black; 
}

.logo, .search, .bits{
	overflow: hidden;
	float: left;
}

.search-query, .search-submit, .display-option, .checkout{
	padding: .5rem;
	font-size: 1.25rem;
	font-weight: 500;
	cursor: pointer;
}

.logo{
	padding: 0 1rem;
	width: 25%;
}

.logo a{
	height: 2em;
	display: block;
	
	font-size: 1.5em;
	font-weight: 700;

	transition: opacity .15s;
}

.logo a:hover{
	opacity: .85;
}

.logo__img{
	text-indent: -9999px;
	
	background: no-repeat;
	background-image: url('../../images/logo.png');
	background-size: contain;
	background-position: left center;
}

.search{
	padding-left: 1em;
	width: 50%;
}

.search-query, .search-submit{ float: left; }

.search-query{
	height: 2em;
	margin-top: .2rem;
	padding: .25rem .5rem;
	background: transparentize($white, .95);
	border-bottom: $lineThickness solid $black;
	border-top-left-radius: $lineThickness;
	border-top-right-radius: $lineThickness;
	width: 90%;
	font-size: inherit;
}

.search-query:hover{
	cursor: text;
	background: lighten(black, 90%);
}

.search-query:focus{
	color: $white;
	border-color: $black;
	background: $black;
}

.search-submit{
	background: none;
	border: none;
	height: auto;
	width: 10%;
	color: inherit;
}

.bits{
	width: 25%;
	user-select: none;
}

.search-submit, .display-option, .bits .checkout{
	float: left;
	text-align: center;
	font-weight: 800;
}

.display-option, .checkout{ width: 50%; }

#list-display-option, #grid-display-option{ display: none; }

.checkout{
	width: 50%;
	padding-right: 2em;
	text-decoration: none;
	color: inherit;
	transition: color .25s, background .25s;
	border-top-left-radius: $lineThickness;
	border-bottom-left-radius: $lineThickness;
}

.checkout-alt{
	background: $black;
	color: $white;
}

.checkout div{
	float: left;
	width: 50%;
}

.checkout-item-amount{
	padding: .25em;
	border: 1px solid lighten($black, 50%);
	color: lighten($black, 25%);
	border-radius: 2.5px;
	font-size: .65em;
	font-weight: 500;
	text-align: center;
}

.checkout-alt .checkout-item-amount{
	border-color: lighten($black, 70%);
	color: $white;
}

@media all and (max-width: 1000px){
	.checkout{ padding-right: .5em; }
}

@media all and (max-width: 600px){

	.logo{ width: 50%; }
	.search{ width: 10%; }
	.bits{ width: 40%; }

	.search-query{ display: none; }
	.search-submit{ width: 100%; }

}