/* _main.scss */

main{
	overflow: hidden;
	padding: 1em;
	float: left;
	width: 75%;
}

.items li .details-title{ font-weight: 600; }
.items li .details-desc{ font-weight: 500; }
.items li .details-price{ font-weight: 700; }

.items li:hover{
	opacity: .9;
	cursor: pointer;
}

.items li:hover img{
	-webkit-filter: grayscale(1); 
			filter: grayscale(1);
}

.items li .details-desc{ line-height: 1.3em; }

.item-grid{
	position: relative;
	width: (100%/5);
	float: left;
	padding: 0 .5em .5em 0;
}

.item-grid img{
	display: block;
	width: 100%;
	height: 150px;
	background: rgba(255, 255, 255, 0.85);
	border: $lineThickness solid $black;
	border-top-left-radius: $lineThickness;
	border-top-right-radius: $lineThickness;
	position: relative;
}

.item-grid .details, .item-grid .more-details{
	overflow: hidden;
	width: 100%;
	padding: 0 .5em;
}

.item-grid .details{
	background: $black;
	color: $white;
}

.item-grid .details-title{
	padding: .75em 0 .25em;
	font-size: .9em;
	border-bottom: $lineThickness solid transparentize($white, .9);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-grid .details-desc{
	padding: .75em 0;
	font-size: .85em;
	height: 4em;
	overflow-y: auto;
}

.item-grid .more-details{
	background: lighten($black, 90%);
	background: darken($white, 10%);
	border: $lineThickness solid $black;
	border-bottom-left-radius: $lineThickness;
	border-bottom-right-radius: $lineThickness;
}

.item-grid .details-stock, .item-grid .details-price{
	float: left;
	width: 50%;
}

.item-grid .details-stock{
	padding: 1em 0;
}

.item-grid .details-price{
	padding: .5em 0;
	font-size: 1.5em;
	text-align: right;
}

.item-grid .details-cat{
	opacity: 0;
	position: absolute;
	top: $lineThickness; left: $lineThickness;
	padding: .5em;
	font-size: .75em;
	border-bottom-right-radius: $lineThickness;
	background: transparentize($white, .5);
}

.item-grid:hover .details-cat{
	opacity: 1;
}

.item-list{
	overflow: hidden;
	margin-bottom: 1em;
	border-bottom: $lineThickness solid $black;
	border-radius: $lineThickness
}

.item-list:hover{
	cursor: pointer;
	background: transparentize($black, .9);
}

.item-list img{
	float: left;
	width: 20%;
}

.item-list .details{
	float: left;
	width: 50%;
	padding: .5em 1em;
}

.item-list .details-title{
	padding-bottom: .25em;
}

.item-list .more-details{
	padding: .5em 1em;
	float: left;
	width: 30%;
}

.item-list .details-cat, .item-list .details-price, .item-list .details-stock{
	text-align: right;
	padding: .25em 0;
}

.item-list .details-cat{
	font-size: .75em;
}

.item-list .details-price a{
	font-weight: 700;
	font-size: 1.25em;
	border-bottom: 1px dashed transparent;
}

.item-list .details-price a:hover{
	border-color: $black;
}

// loop this in sass yo

@media all and (max-width: 1200px){
	.item-grid{ width: (100%/5); }
}

@media all and (max-width: 1000px){
	.item-grid{ width: (100%/4); }
}

@media all and (max-width: 800px){
	.item-grid{ width: (100%/3); }
}

@media all and (max-width: 600px){
	main{ width: 100%; }
	.item-grid{ width: (100%/3); }
}

@media all and (max-width: 500px){
	.item-grid{ width: (100%/2); }
}

@media all and (max-width: 400px){
	.item-grid{ width: (100%/1); }
}
