/* _popup.scss */

.popup{
	z-index: 999999;
	position: fixed;
	top:0; right:0; bottom:0; left:0;
	background: transparentize($black, .5);
	transition: background .15s, opacity .15s;
	transform-origin: center;
}

.popup--hidden{
	opacity: 0;
	background: transparent;
	transform: scale(0);
}

.popup section{
	border: $lineThickness solid $black;
	border-top-left-radius: $lineThickness*2;
	border-top-right-radius: $lineThickness*2;
	position: absolute;
	width: 80%;
	margin: auto;
	top: 10%; right: 0; left: 0;
	padding: 1em;
	overflow: hidden;
	background: $white;
}

.popup .popup_tools, .popup img, .popup .details{
	float: left;
}

.popup .popup_tools{
	float: right;
	width: 10%;
	border-left: $lineThickness solid $black;
	padding-left: 1em;
}

.popup .popup_close, .popup .add{
	width: 100%;
}

.popup .popup_close{
	display: block;
	font-size: 2em;
	height: 2em;
	width: 2em;
	margin: 0 auto;
	background: $black;
	color: $white;
	transition: background .15s;
	transform-origin: center;
	border-top-right-radius: $lineThickness;
	border-top-left-radius: $lineThickness;
}

.popup .popup_close:hover{
	background: transparentize($black, .1);
	cursor: pointer;
}

.popup .popup__img{	
	border-top-right-radius: $lineThickness;
	border: 10px solid $black;
	max-height: 100%;
	max-width: 45%;
}

.popup .details{
	width: 45%;
	padding: 0 1em;
	color: $black;
}

.popup .details-title{
	font-weight: 700;
	font-size: 2em; 
}

.popup .details-desc{
	padding: 1em 0;
}

.popup .details-price{
	font-weight: 900;
	font-size: 2em;
	padding: .5em 0;
}

.popup .details-stock{
	font-size: 1.25em;
}

.popup .details-cat{
	font-style: italic;
	padding: .5em 0;
}

.popup .add{
	overflow: hidden;
	margin-top: 10em;
}

.popup .add h2{
	padding: .5em 0;
	text-align: center;
}

.popup .add input{
	width: 100%;
	margin-top: .5em;
	font-size: .8em;
	text-align: center;
	background: lighten($black, 80%);
	border: $lineThickness solid $black;
}

.popup .add input[type="text"]{
	padding: .25em;
	font-size: 2em;
}

.popup .add input[type="submit"]{
	padding: .75em;
	background: $black;
	color: $white;
}

.popup .add input[type="submit"]:hover{
	opacity: .9;
	cursor: pointer;
}
