/* _side.scss */

aside{
	padding: 1em;
	float: left;
	width: 25%;
}

.filter{ margin-bottom: 1.5em; }

.filter-title, .filter-select{
	padding: .5em 0;
	width: 100%;
}

aside h2{ padding: .5em 0; }

.filter-select{
	border: $lineThickness solid $black;
	background: none;
	border-radius: $lineThickness;
}

.filter-select:hover{ background: lighten(black, 90%); }

.categories li a{
	display: block;
	padding: .5em 0;
	font-weight: 600;
}

.categories li a:hover{ opacity: .6; }

@media all and (max-width: 600px){
	aside{
		float: none;
		width: 100%;
	}
}