/* all.scss */

@import 'reset';
@import 'fonts';

/* -- colours -- */

$white: darken(white, 5%);
$black: lighten(black, 7.5%);

/* -- fonts -- */

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

*{ box-sizing: border-box; }

button, input, select{ outline: none; }

a{ text-decoration: none; color: inherit; }

body{
	transform: translateY(0);
	color: $black;
	background: $white;
	font-family: $openSans;
}

@import 'basket';
@import 'header';
@import 'main';
@import 'side';