/* all.scss */

@import 'reset';
@import 'fonts';

/* -- colours -- */

$dirtyWhite: #f4f4f4;
$dullBlack: #020202;

/* -- fonts -- */

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

*{ box-sizing: border-box; }

body{
	padding: 0 .5em;
	background: $dirtyWhite;
	font-family: $openSans;
}

@import 'header';
@import 'main';
@import 'side';