/* all.scss */

@import 'reset';
@import 'fonts';

/* -- colours -- */

$white: darken(white, 5%);
$black: lighten(black, 8%);

$lineThickness: 2px;

/* -- fonts -- */

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

*{ box-sizing: border-box; }

button, input, select{
	background: none;
	border: none;
	outline: none;
	font: inherit;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	font-family: $openSans;
	color: $black;
	
	background: $white;
}

.content-container{
	transition: filter .25s;
	transition: -webkit-filter .25s;
}

.content-container.blurred{
	filter: grayscale(1);
}

@import 'popup';
@import 'basket';
@import 'header';
@import 'main';
@import 'side';