@import 'reset';

@import 'fonts';

/* main.scss */

/* -- colours -- */

$dirtyWhite: #f4f4f4;
$dullBlack: #020202;

/* -- fonts -- */

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

*{
	box-sizing: border-box;
}

body{
	background: $dirtyWhite;
	font-family: $openSans;
}

@import 'header';