/* _basket.scss */

.basket{
	z-index: 1337;
	position: fixed;
	right: 0; bottom: 0; top: 12.5%;
	width: 50%;
	overflow: hidden; /* clearfix */
	
	color: $contrast-colour;
	
	background: lighten($default-colour, 1%);
	border-top-left-radius: 5px;

	transition: transform .25s, opacity .25s;
	transform-origin: top right;
}

@media all and (max-width:600px){
	.basket{
		font-size: .85em;
		width: 90%;
	}
}

.basket-closed .basket{
	opacity: 0;
	transform: translateX(100%);
}

aside{
	opacity: 0;
	transform: translateX(-100%);
	transition: transform .25s, opacity .25s;
}

.basket-closed aside{ 
	opacity: 1;
	transform: translateX(0);
}

main{
	padding-left: 0;
	padding-right: 1em;
	width: 50%;
	transform: translateX(0);
	transition: transform .25s, width .25s, opacity .15s;
}

.basket-closed main{
	width: 75%;
	transform: translateX(33.33%);
}

@media (max-width: 600px){

	.basket-closed main{
		width: 100%;
		transform: translateX(0);
	}

	main{
		transform: translateX(-90%);
	}

}

.basket-top{
	overflow: hidden; /* overflow */
	padding: 1em;
}

.basket-title{
	float: left;
	width: 80%;

	font-size: 2em;
	font-weight: 700;
}

button.basket-close{
	float: right;
	width: 20%;
	
	color: $contrast-colour;
}

button.basket-close:hover{	
	color: $default-colour;
	
	background: $contrast-colour;
}

.basket-items{
	overflow-x: hidden;
	overflow-y: auto;
	height: 70%;
}

.basket .item-list{
	max-height: 500px;
	padding: .75em 1.25em;
	margin-bottom: 0;

	font-size: .85em;
	
	border: none;
	border-top: $lineThickness solid darken($contrast-colour, 75%);

	transition: transform .5s, opacity .5s, padding-top .5s, padding-bottom .5s, border-top .5s .25s, max-height .5s .25s;
	transform-origin: center;
}

.basket .item-list:hover{ background: darken($contrast-colour, 75%); }

.basket .removed-item{
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	
	border-top: 0;

	transform: scale(0);
	
	opacity: 0;
}

.basket .item-list img{
	margin: .75em 0;
	width: 10%;
}

.basket .item-list .details{ width: 50%; }

.basket .item-list .details-title{
	padding: .25em 0;
	
	font-weight: 600;
}

.basket .item-list .details-price{
	font-weight: 600;
	font-size: 1.5em;
	color: $gold;
}

.remove-item{
	float: left;
	width: 10%;
	padding: 1.5em 0;
}

button.remove-item-button{
	width: 24px;
	height: 24px;
	padding: 0;
	line-height: 8px;
	
	font-weight: 900;
	color: darken($contrast-colour, 75%);
	
	border-color: darken($contrast-colour, 75%);
	border-style: dashed; 
	border-radius: 50%;
}

.basket .item-list:hover button.remove-item-button{
	color: #A73131; 
	border-color: #A73131; 
	border-style: solid; 
}

button.remove-item-button:hover{
	background: #CF3737;
	border-color: #CF3737;
	color: $default-colour;
}

.basket .item-list .details-stock-amount{
	padding: 0 3px;
	border: 1px solid darken($contrast-colour, 50%);
	border-radius: 2px;
}

.basket .item-list .details-stock-amount:hover{
	background: darken($contrast-colour, 50%);

	cursor: text;
}

.basket-checkout{
	position: absolute;
	bottom: 0; right: 0; left: 0;
	overflow: hidden;
	padding: 1em;
	margin-right: 15px;

	background: lighten($default-colour, 1%);
	box-shadow: -25px -15px 40px lighten($default-colour, 1%);
}

.basket-checkout h2{
	font-size: 1.5em;
}

.basket-checkout-details,
.basket-checkout-button{
	float: left;
	width: 50%;
}

.basket-checkout-details{
	padding-left: 1em;
}

.basket-checkout-details p{
	padding: .25em 0;
	line-height: 1.5em;

	font-weight: 600;
}

.basket-checkout-details span{
	float: right;
	
	font-weight: 700;
	font-size: 1.5em;
	color: $gold;
}

button.basket-checkout-button{
	padding: 1em;
	
	font-size: 1.5em;
	font-weight: 600;
	color: $gold;

	border-width: $lineThickness*2;
	border-color: $gold;
}

button.basket-checkout-button:hover{	
	color: $default-colour;
	
	background: $gold;	
}