/* _header.scss */

header{
	z-index: 9999;
	opacity: .95;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1em .5em; 
	overflow: hidden; /* clearfix */
	
	background: lighten($contrast-colour, 1%);
	border-bottom: $lineThickness solid $default-colour; 
}

.logo, .search, .bits{
	overflow: hidden; /* clearfix */
	float: left;
}

.search-query,
.search-submit,
.display-option, 
.checkout{
	padding: .5rem;
	
	font-size: 1.25rem;
	font-weight: 500;

	cursor: pointer;
}

.logo{
	padding: 0 1rem;
	width: 25%;
}

.logo a{
	padding: .5em 0;
	display: block;
	
	font-size: 1.5em;
	font-weight: 700;

	transition: opacity .15s;
}

.logo a:hover{
	opacity: .85;
}

.logo__img{
	text-indent: -9999px;
	
	background: no-repeat;
	background-image: url('../../images/logo.png');
	background-size: contain;
	background-position: left center;
}

.search{
	float: left;
	width: 20%;
	padding-left: 1em;
}

.search-query{
	width: 100%;
	padding: .25rem .5rem;
	
	font-size: inherit;
	
	background: transparentize($contrast-colour, .95);
	border-bottom: $lineThickness solid $default-colour;
	border-top-left-radius: $lineThickness;
	border-top-right-radius: $lineThickness;
}

.search-query:hover{
	background: lighten(black, 90%);
	
	cursor: text;
}

.search-query:focus{
	color: $contrast-colour;
	
	background: $default-colour;
	border-color: $default-colour;
}

.search-submit{	
	color: inherit;
	
	background: none;
	border: none;
}

.bits{
	float: left;
	width: 55%;
	padding: .25em 0;
	
	user-select: none;
}

.search-submit,
.display-option,
.checkout{
	float: left;
	width: 33.33%;
	
	font-size: 1.25em;
	text-align: center;
}

#list-display-option, #grid-display-option{ display: none; }

.checkout{	
	text-decoration: none;
	color: inherit;
	
	border-top-left-radius: $lineThickness;
	border-bottom-left-radius: $lineThickness;
	
	transition: color .25s, background .25s;
}

.checkout-alt{
	color: $contrast-colour;
	
	background: $default-colour;
}

.checkout .checkout-icon{
	display: inline-block;
}

.checkout-item-amount{
	display: inline-block;
	padding: .25em;
	margin-left: .5em;
	
	font-size: .65em;
	font-weight: 500;
	text-align: center;
	color: lighten($default-colour, 25%);
	
	border: 1px solid lighten($default-colour, 50%);
	border-radius: 2.5px;

	transition: border-color .25s, color .25s;
}

.checkout-alt .checkout-item-amount{
	color: $contrast-colour;
	
	border-color: lighten($contrast-colour, 25%);
}

@media all and (max-width: 1100px){
	.search-submit, .display-option, .bits .checkout{
		font-size: 1em;
	}
}

@media all and (max-width: 800px){

	.search{
		position: absolute;
		top: 0; right: 0;
		width: 50%;
		padding: 1em;

		background: lighten($contrast-colour, 1%);
		box-shadow: 0 0 60px lighten($contrast-colour, 1%);

		transition: transform .5s;
	}

	.search--hidden{
		transform: translateY(-100%);
	}

	.bits{
		width: 75%;
		font-size: 1em;
	}

}

@media all and (max-width: 600px){

	header{ padding: .25em; }

	.logo{
		width: 100%;
	
		text-align: center;
	}

	.bits{
		width: 100%;
		font-size: .9em;
	}


	.search-submit,
	.display-option,
	.bits .checkout{
		padding: .5em .25em;
	}

	.search{
		left: 0;
		width: 100%;
		padding: .5em;
		
		transition-duration: .3s;
	}

}