/* _header.scss */

header{
	z-index: 9999;
	opacity: .95;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1em 0; 
	overflow: hidden; /* clearfix */
	
	background: lighten($contrast-colour, 1%);
	border-bottom: $lineThickness solid $default-colour; 
}

.logo, .search, .bits{
	overflow: hidden; /* clearfix */
	float: left;
}

.search-query, .search-submit, .display-option, .checkout{
	padding: .5rem;
	
	font-size: 1.25rem;
	font-weight: 500;

	cursor: pointer;
}

.logo{
	padding: 0 1rem;
	width: 25%;
}

.logo a{
	height: 2em;
	display: block;
	
	font-size: 1.5em;
	font-weight: 700;

	transition: opacity .15s;
}

.logo a:hover{
	opacity: .85;
}

.logo__img{
	text-indent: -9999px;
	
	background: no-repeat;
	background-image: url('../../images/logo.png');
	background-size: contain;
	background-position: left center;
}

.search{
	padding-left: 1em;
	width: 45%;
}

.search-query, .search-submit{ float: left; }

.search-query{
	height: 2em;
	width: 70%;
	margin-top: .2rem;
	padding: .25rem .5rem;
	
	font-size: inherit;
	
	background: transparentize($contrast-colour, .95);
	border-bottom: $lineThickness solid $default-colour;
	border-top-left-radius: $lineThickness;
	border-top-right-radius: $lineThickness;
}

.search-query:hover{
	background: lighten(black, 90%);
	
	cursor: text;
}

.search-query:focus{
	color: $contrast-colour;
	
	background: $default-colour;
	border-color: $default-colour;
}

.search-submit{
	width: 30%;
	height: auto;
	
	color: inherit;
	
	background: none;
	border: none;
}

.bits{
	width: 30%;
	
	user-select: none;
}

.search-submit, .display-option, .bits .checkout{
	float: left;
	
	font-size: 1.25em;
	text-align: center;
}

.display-option{ width: 40%; }

#list-display-option, #grid-display-option{ display: none; }

.checkout{
	width: 60%;
	padding-right: 2em;
	
	text-decoration: none;
	color: inherit;
	
	border-top-left-radius: $lineThickness;
	border-bottom-left-radius: $lineThickness;
	
	transition: color .25s, background .25s;
}

.checkout-alt{
	color: $contrast-colour;
	
	background: $default-colour;
}

.checkout .checkout-icon{
	float: left;
}

.checkout-item-amount{
	float: left;
	padding: .25em;
	margin-left: 1em;
	
	font-size: .65em;
	font-weight: 500;
	text-align: center;
	color: lighten($default-colour, 25%);
	
	border: 1px solid lighten($default-colour, 50%);
	border-radius: 2.5px;

	transition: border-color .25s, color .25s;
}

.checkout-alt .checkout-item-amount{
	color: $contrast-colour;
	
	border-color: lighten($contrast-colour, 25%);
}

@media all and (max-width: 1100px){
	.search-submit, .display-option, .bits .checkout{
		font-size: 1em;
	}
}

@media all and (max-width: 800px){

	.search-query{ display: none; }
	.search-submit{ width: 100%; }

	.search{ width: 25%; }
	.bits{ width: 50%; }

}

@media all and (max-width: 600px){

	.logo{
		width: 100%;
	
		text-align: center;
	}

	.search-submit, .display-option, .bits .checkout{
		text-align: left;
		font-size: 1em;
	}

	.search{ width: 30%; }
	.bits{ width: 70%; }

}