/* _main.scss */

main{
	overflow: hidden; /* clearfix */
	padding: 1em;
	float: left;
}

.error-message {
	display: inline-block;
	width: 100%;
	padding: .25em;
	
	font-size: 7em;
	font-weight: 800;
	color: #DA5E5E;

	background: lighten($default-colour, 5%);
	border-radius: $lineThickness;
}

.error-message em{ font-style: italic; }

.error-message a{
	display: inline-block;
	
	font-weight: 500;
	
	border-bottom: 5px dashed;
}

.error-message a:hover{
	border-color: transparent;
	
	opacity: .8;
}

@media all and (max-width: 600px){

	main{
		width: 100%;
		padding: .25em;
		font-size: .8em;
	}

}
