/* _popup.scss */

.popup{
	z-index: 3000;
	position: fixed;
	top:0; right:0; bottom:0; left:0;
	
	background: transparentize($default-colour, .5);
	
	transition: transform .25s, background .25s .25s;
	transform-origin: center;
}

.popup--hidden{
	background: transparent;
	
	transition: transform .25s .25s, background .25s;
	transform: translateX(100%);
}

.popup section{
	position: absolute;
	top: 15%; right: 1em;
	width: 70%;
	min-height: 350px;
	margin: auto;
	overflow: hidden; /* clearfix */
	
	background: $contrast-colour;
	border: $lineThickness solid $default-colour;
	border-top-left-radius: $lineThickness*2;
	border-top-right-radius: $lineThickness*2;
}

.popup .popup_tools, .popup img, .popup .details{
	float: left;
}

.popup .popup_tools{
	position: absolute;
	bottom: 0; top: 0; right: 0;
	float: right;
	width: 20%;
	padding: 1em;

	background: $default-colour;
	color: $contrast-colour;
}

.popup .popup_close, .popup .add{
	width: 100%;
}

.popup .popup_close{
	margin: 0 auto;

	font-size: 1.5em;
	color: $contrast-colour;

	transition: background .15s;
	transform-origin: center;
}

.popup .popup_close:hover{
	color: $default-colour;
	background: $contrast-colour;
}

.popup__img{
	position: absolute;
	top: 0; bottom: 0; right: 20%;
	float: left;
	width: 45%;
}

.popup__img img,
.popup__img .alter-img,
.popup__img .placeholder-img{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;

	max-height: 90%;
	max-width: 90%;	

	border: $lineThickness*2 solid $default-colour;
	border-radius: $lineThickness*2;
}

.popup__img .alter-img{	
	background-clip: content-box;

	transition: opacity .25s, transform .5s;
}

.popup__img .alter-img:hover{
	opacity: .9;

	cursor: pointer;
}

.popup__img .alter-img p{
	display: block;
	padding: .5em;
	height: 100%;
	
	font-weight: 600;
	font-size: 2em;
	color: $contrast-colour;
	background: transparentize($default-colour, .1);
	text-align: center;
}

.popup__img .alter-img--dragging{
	border-style: dashed;

	transform: scale(.95);
}

.popup__img .alter-img--dragging p{ 
	color: $default-colour;
	background: transparentize($contrast-colour, .1);
}

.popup__img .alter-img--dragging p::after {
	content: 'YEAAH! Drop that sucker!';
	display: block;
	margin-top: 1em;

	color: lighten($default-colour, 25%);
}
.popup__img .hidden-file-input{ display: none; }

.popup__img .injected-img{
	transform-origin: center;
	animation: popInImg .25s;
}

@keyframes popInImg{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	70%{
		opacity: 1;
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}

.popup .details{
	width: 35%;
	padding: 1em;

	color: $default-colour;
}

.popup select.details-cat,
.popup textarea.details-desc,
.popup textarea.details-title{
	margin: .5em 0 .75em;
	max-width: 100%;
	
	background: none;
	border: $lineThickness solid;
}

.popup .details-title{
	font-weight: 700;
	font-size: 2em; 
}

.popup .details-desc{
	padding: 1em 0;
}

.popup textarea.details-desc{
	padding: .5em;
	
	font: inherit;
	
	background: none;
}

.popup .details-price{
	padding: .5em 0;

	font-weight: 900;
	font-size: 2em;
}

.popup input.details-price{
	max-width: 100%;
	border-bottom: $lineThickness solid;
}

.popup .details-stock{
	font-size: 1.25em;
}

.popup .details-cat{
	padding: .5em 0;

	font-style: italic;
}

.popup select.details-cat{
	border-bottom: 0;
}

.popup .add{
	overflow: hidden; /* clearfix */
	margin-top: 2em;
}

.popup .add h2{
	padding: .5em 0;

	text-align: center;
}

.popup .add .amount{
	width: 100%;
	margin: 0;
	padding: .25em;

	font-size: 1.75em;
	
	background: $dark-green;
	border: $lineThickness*2 solid $dark-green;
}

.popup .add .amount--edit{
	color: $contrast-colour;
	
	background: none;
	border: 0;
	border-bottom: $lineThickness*2 solid;
}

.popup .add .add-button{
	padding: 1em;
	width: 100%;

	font-size: 1.75em;
	font-weight: 700;
	color: $dark-green;

	border: $lineThickness*2 solid $dark-green;
	border-top: 0;

	border-radius: 0;
	border-bottom-right-radius: $lineThickness*2;
	border-bottom-left-radius: $lineThickness*2;
}

.popup .add .add-button:hover{
	color: $default-colour;
	
	background: $dark-green;
}

.popup_tools--admin .admin-button{
	width: 100%;
	margin-top: .5em;

	font-size: 1.25em;
}

.popup_tools--admin .admin-button--save{ border-color: $green; }
.popup_tools--admin .admin-button--delete{ border-color: $red; }

@media (max-width: 1000px){

	.popup section{ font-size: .85em; }

	.popup .add .add-button{ padding: .75em; }

	.popup .add{ margin-top: 4em; }

}

@media (max-width: 700px){

	.popup section{ font-size: .7em; }

	.popup .add .add-button{ padding: .5em; }

	.popup .add{ margin-top: 10em; }

}

@media (max-width: 600px){

	.popup section{
		bottom: 2.5%;
		right: 0; left: 0;
		width: 95%;
	}

	.popup .add{ margin-top: 12em; }

	.popup .popup_tools{ width: 30%; }

	.popup .details,
	.popup__img{ width: 70%; }

	.popup__img{ position: static; }
	
	.popup .popup__img img{ 
		position: static;
		margin: 2.5em 1.25em;
	}

}