/* _side.scss */

aside{
	z-index: 1000;
	position: fixed;
	left: 0; bottom: 0; top: 12.5%;
	margin-top: 1em;
	padding: 1em;
	float: left;
	width: 25%;
	height: 100%;

	color: $contrast-colour;
	
	background: lighten($default-colour, 1%);
	border-top-right-radius: 5px;
}

.filter{ margin-bottom: 1.5em; }

.filter-title,
.filter-select{
	padding: .5em 0;
	width: 100%;
}

aside h2{
	padding: .5em 0;

	text-transform: uppercase;
	font-weight: 700;
}

.categories li a{
	display: block;
	padding: .5em 0;
}

.categories li em{ font-style: italic; }

.categories li .no-cats-action{
	font-weight: 700;
}

.categories li a:hover{ opacity: .6; }

@media all and (max-width: 600px){

	aside{
		position: static;
		overflow: hidden; /* clearfix */
		float: none;
		width: 100%;
		padding: .5em;
		
		font-size: .9em;

		border-radius: 0;

		opacity: 1;
		transform: translateX(-100%);
	}

	aside .filter{
		overflow: hidden; /* clearfix */
		margin-bottom: .5em;
		padding-bottom: .5em;

		border-bottom: $lineThickness/2 solid;
	}

	aside .filter h2,
	aside .filter-select{
		float: left;
		width: 50%;
	}

	aside .filter-select{
		font-size: .8em;
	}

	aside .categories li{
		display: inline-block;
		padding-right: .5em;		
		padding-bottom: .5em;		
	}

	aside .categories li a{
		padding: .5em;
		font-size: .9em;

		color: $default-colour;

		background: $contrast-colour;
		border-radius: 3px;
	}

}