/* _side.scss */

aside{
	padding: 1em;
	float: left;
	width: 25%;
}

.filter{ margin-bottom: 1.5em; }

.filter-title, .filter-select{
	padding: .5em 0;
	width: 100%;
}

aside h2{
	padding: .5em 0;

	text-transform: uppercase;
	font-weight: 700;
}

.filter-select{
	color: inherit;

	border: $lineThickness solid $default-colour;
	border-bottom: none;
	border-top-left-radius: $lineThickness;
	border-top-right-radius: $lineThickness;
}

.filter-select:hover{
	background: lighten(black, 90%);
}

.categories li a{
	display: block;
	padding: .5em 0;
}

.categories li em{ font-style: italic; }

.categories li .no-cats-action{
	font-weight: 700;
}

.categories li a:hover{ opacity: .6; }

@media all and (max-width: 600px){
	aside{
		float: none;
		width: 100%;
	}
}