/* _variables.scss */

// colours

/* default */
$contrast-colour: darken(white, 5%);
$default-colour: lighten(black, 8%);

$gold: #DAAC3B;
$red: #DA5E5E;
$yellow: #D2D842;
$blue: #799DE9;
$teal: #3BDAA1;
$green: #60A04C;
$dark-green: #85BB41;

/* alt colours */
/*
$default-colour: darken(white, 5%);
$contrast-colour: lighten(black, 8%);
*/

$lineThickness: 2px;

// fonts

@import 'fonts';
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;