/* all.scss */

@import 'reset';
@import 'variables';

noscript{
	overflow: hidden;
	width: 70%;
	padding-top: 100px;
	float: right;
	
	font-family: monospace;
}

noscript a{ color: blue; border-bottom: 1px solid; }

noscript hr{ border: 0; border-bottom: 1px solid; }

noscript hr, noscript p, noscript pre{ margin: 1em 0; }

*::selection{
	background: $default-colour;
	color: $contrast-colour;
}

button, input, select{
	background: none;
	border: none;
	outline: none;
	font: inherit;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	overflow-y: scroll;

	font-family: $openSans;
	color: $default-colour;
	
	background: $contrast-colour no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.content-container{
	transition: filter .25s;
	-webkit-transition: -webkit-filter .15s;
}

.content-container.blurred{
	filter: grayscale(1) blur(1px);
	box-shadow: inset 0 0 50px red;
}

button{
	padding: .5em .25em;

	font-size: .9em;
	color: $contrast-colour;

	border: $lineThickness solid $contrast-colour;
	border-radius: $lineThickness;

	transition: background .15s, color .15s, border .15s;
}

button:hover{
	color: $default-colour;
	background-color: $contrast-colour;

	cursor: pointer;
}

select{
	color: $default-colour;
	
	background: $contrast-colour;

	border-top-left-radius: $lineThickness;
	border-top-right-radius: $lineThickness;
}

select:hover,
select:active{
	background: lighten($contrast-colour, 80%);
}

@import 'alert';
@import 'popup';
@import 'basket';
@import 'header';
@import 'main';
@import 'items';
@import 'side';