/* all.scss */

@import 'reset';
@import 'fonts';

/* -- colours -- */

/* default */
$contrast-colour: darken(white, 5%);
$default-colour: lighten(black, 8%);

$gold: #DAAC3B;

/* alt colours */
/*
$default-colour: darken(white, 5%);
$contrast-colour: lighten(black, 8%);
*/

$lineThickness: 2px;

/* -- fonts -- */

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

*::after, *::before, *{ box-sizing: border-box; }

*::selection{
	background: $default-colour;
	color: $contrast-colour;
}

button, input, select{
	background: none;
	border: none;
	outline: none;
	font: inherit;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	font-family: $openSans;
	color: $default-colour;
	
	background: $contrast-colour no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.content-container{
	transition: filter .25s;
	transition: -webkit-filter .25s;
}

.content-container.blurred{
	filter: grayscale(1);
}

button{
	padding: .5em .25em;

	font-size: .9em;

	border: $lineThickness solid;
	border-radius: $lineThickness;

	transition: background .15s, color .15s;
}

button:hover{
	color: $default-colour;

	cursor: pointer;
}

@import 'popup';
@import 'basket';
@import 'header';
@import 'main';
@import 'side';